* {
    margin: 0;
    padding: 0;
}

html,
body,
#app {
    height: 100%
}

/* View Transition 相关样式 */
::view-transition-old(root),
::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}

a {
    color: inherit;
    text-decoration: none;
}